@import 'settings.scss';

.inj-map-feature {
	fill-opacity: 1; // override of leaflet default
	stroke-width: $map-feature-stroke-width;
	&__home {
		transition: fill-opacity $transition-time-secondary, stroke-opacity $transition-time-secondary;
		
		&:hover {
			fill-opacity: $map-feature-opacity-med;
		}
	}
	&__pyhsiographic-region {
		//some sort of greenish gray would be nice
		fill: $color-nature;
		fill-opacity: 0.1;
		stroke: $color-nature;
		stroke-opacity: $map-feature-opacity-med;
		&.inj-map-feature__home:hover {
			fill-opacity: $map-feature-opacity-light;
			stroke-opacity: 0;
		}
	}
	&__other-landform {
		fill: $color-nature;
		fill-opacity: $map-feature-opacity-med;
		stroke-opacity: 0;
		&.inj-map-feature__home:hover {
			fill-opacity: $map-feature-opacity-light;
		}
	}
	&__mountain {
		fill: $color-nature;
		fill-opacity: $map-feature-opacity-med;
		stroke: $color-nature;	
		stroke-opacity: 0;
		&.inj-map-feature__home:hover {
			stroke-opacity: $map-feature-opacity;
			fill-opacity: $map-feature-opacity-light;
		}
	}
	&__mountain-range {
		fill: url(#mountainPattern);
		fill-opacity: $map-feature-opacity;
		stroke: $color-nature;
		stroke-opacity: 0;
		&--pattern {
			fill: $color-nature;
		}
		&.inj-map-feature__home:hover {
			stroke-opacity: $map-feature-opacity;
			fill-opacity: $map-feature-opacity-light;
		}		
	}
	&__swamp {
		//fill: $color-primary;
		fill: url(#swampPattern);
		fill-opacity: $map-feature-opacity;
		stroke: $color-primary;
		stroke-opacity: 0;
		&--pattern {
			fill: $color-primary;
		}
		&.inj-map-feature__home:hover {
			stroke-opacity: $map-feature-opacity;
		}
	}
	&__other-political-entity {
		fill: $color-neighborhood;
		fill-opacity: 0;
		stroke: $color-neighborhood;
		stroke-opacity: $map-feature-opacity;
		&.inj-map-feature__home:hover {
			fill-opacity: $map-feature-opacity-light;
		}
	}
	&__city {
		fill: $color-city;
		fill-opacity: $map-feature-opacity-med;
		stroke: $color-city;
		stroke-width: $map-feature-stroke-width;
		stroke-opacity: $map-feature-opacity;
		&.inj-map-feature__home:hover {
			fill-opacity: $map-feature-opacity-light;
			stroke-opacity: 1;
		}
	}
	&__town {
		fill: $color-town;
		fill-opacity: 0;
		stroke: $color-town;
		stroke-opacity: $map-feature-opacity;
		&.inj-map-feature__home:hover {
			fill-opacity: $map-feature-opacity-light;
		}
	}
	&__river {
		&-smaller {
			stroke: $color-primary;
			opacity: $map-feature-opacity;
			stroke-width: 2px;
		}
		&-major {
			stroke: $color-primary;
			opacity: $map-feature-opacity;
		}
	}
	&__lake-bay {
		fill: $color-primary;
		fill-opacity: $map-feature-opacity;
		stroke: none;
	}
	&__waterfall {
		stroke: $color-primary;
		stroke-width: $map-feature-stroke-width;
		fill: $color-primary;
	}
	&__other-infrastructure {}
	&__road {
		&-major-highway {
			stroke: $color-road;
			opacity: $map-feature-opacity;
			stroke-width: 2px
		}
		&-secondary-highway {
			stroke: $color-road;
			opacity: $map-feature-opacity;
			stroke-width: 1px;
		}
		&-local {
			stroke: $color-road;
			opacity: $map-feature-opacity;
			stroke-width: 1px;
		}
	}
	&__bridge-tunnel {
		stroke: $color-quaternary;
		stroke-width: 5px;
		opacity: 0.7;
	}
	&__point-of-interest {
		stroke: black;
		fill: black;
		stroke-width: $map-feature-stroke-width;
		opacity: $map-feature-opacity;
		fill-opacity: $map-feature-opacity-light;
	}
	&__default {
		stroke: $color-primary;
		stroke-width: $map-feature-stroke-width;
		fill: $color-primary;
		fill-opacity: 0.5;
	}
	&__line:hover {
		filter: drop-shadow(1px 4px 0 $color-secondary) drop-shadow(-1px -4px 0 $color-secondary)
	}
	&__line-fattening {
		stroke: $color-secondary;
		stroke-width: 9px;
		stroke-opacity: 0;
		transition: stroke-opacity ease $transition-time-secondary;
		&:hover {
			stroke-opacity: 0.8;
		}
	}
	&-patterns {
		height: 0;
		//this is sort of like an SVG sprite, located elsewhere in the DOM to be invisible
	}
}