$color-primary: #00589c;
$color-secondary: #F0DC82;
$color-tertiary: #ff9e0f;
$color-quaternary: #ef1439;

$font-family-primary: Palatino, Times, Garamond, serif;
$font-size-primary: 13pt;
$letter-spacing-primary: 0.2px;

$spacing: 10px;
$media-break: 600px;

$transition-time: 0.6s;


