$color-primary: #00589c;
$color-secondary: #F0DC82;
$color-tertiary: #ff9e0f;
$color-quaternary: #ef1439;

$font-family-primary: Palatino, Times, Garamond, serif;

$spacing: 10px;
$media-break: 600px;



