$color-primary: #2484C6; //#00589c;
$color-secondary: #F0DC82;
$color-tertiary: #DC6026; //#ff9e0f;
$color-quaternary: #D0202E;//#ef1439;

$color-horsehead: #81512B;
$color-dress: #9BA7B9;
$color-wood: #B58C58;

$font-family-primary: Palatino, Times, Garamond, serif;

$font-size-primary: 13pt;
$font-size-secondary: 11pt;
$font-size-tertiary: 15pt;

$letter-spacing-primary: 0.2px;

$spacing: 10px;
$media-break: 600px;
$large-break: 900px;

$transition-time: 0.6s;


