@import 'settings.scss';

body {
	font-family: $font-family-primary;
	background-color: $color-secondary;
	margin: 0;
	overflow-x: hidden; // cheap solution to a problem I don't understand: there is white space to the right of the page at certain screen widths
}

p, ul {
	letter-spacing: 0.2px;
	line-height: 1.5;
	@media(min-width: $media-break) {
		font-size: 13pt;
		line-height: 1.7;
	}
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

h4 {
	font-weight: normal;
}